<body ng-controller="MovieController" >

<nav>
  <div class="nav-wrapper cyan darken-5 ">
    <span class="left-align" style="padding-left:10px;">Angular OMDb API Movie Search</span>
  </div>
</nav>
<br>
      <div class="row">
        <div class="col m6 offset-m3">
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title">Enter a movie by title:</span>
              <input placeholder="Enter movie name" ng-model="title"/> <br> 
              <br>
              <button type="submit" class="btn btn-primary cyan darken-1" ng-click="search(); showme=true">Submit</button>
          </div>
        </div>
      </div>
      </div>
            

       <div class="row" ng-show="showme">
        <div class="col m6 offset-m3">
          <div class="card white">
            <div class="card-content black-text">
              <div ng-repeat="movie in details">

              <h4>{{ movie.Title }}, {{ movie.Year}}</h4>
             <a ng-href="#/show/{{movie.imdbID}}" class="btn btn-primary cyan darken-1" role="button">See Details</a>
             <br>
             <br>
             <hr>

          </div>
        </div>
      </div>
      </div>



</div>





